<div class="container">
    <div class="main-content">
        <div class="header">
            <div class="header-left">
                <img src="assets/subhanu_logo.jpg" alt="HR Hub Logo" class="header-logo">
                <h2 class="header-title">HR Hub</h2>
            </div>
            <div class="header-right">
                <div class="user-profile">
                    <img src="assets/user_image.jpg" alt="User Profile">
                    <div class="user-details">
                        <p class="user-name">Kruthvik</p>
                        <p class="user-role">HR Specialist</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="actions">
            <div class="welcome-message">
                <h1>Welcome, Kruthvik!</h1>
                <p>HR-Hub is optimizing hiring, ranking resumes, and tracking candidates.</p>
            </div>
            <div class="action-cards">
                <div class="action-card" routerLink="/upload">
                    <i class="fas fa-upload fa-3x"></i>
                    <h3>Upload JD/Resume</h3>
                </div>
                <div class="action-card" routerLink="/dashboard">
                    <i class="fas fa-tachometer-alt fa-3x"></i>
                    <h3>View Dashboard</h3>
                </div>
            </div>
        </div>
    </div>
</div>
